*{
    border: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #1f2937;
    padding: 15px;
}
.wrapper{
    max-width: 1048px;
    margin: auto;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
    font-weight: 800;
}
.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-link-list li a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.nav-link-list{
    display: flex;
    gap: 16px;
}
.hero{
    background-color: #1f2937;
    padding-top: 50px;
    padding-bottom: 50PX;
}
.hero-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-left{
    max-width: 50%;
}
.hero-heading{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.hero-text{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 10px;
}
.hero-button{
    background-color: #3882F6;
    padding: 7px 20px 7px 20px;
    margin-top: 15px;
    color: #fff;
    border-radius: 7px;
}
.section__2{
    padding-top: 40px;
    padding-bottom: 60px;
    max-width: 820px;
    margin: auto;
}
.section__2-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__2 h2 {
    padding-bottom: 30px;
    font-weight: 900;
}
.portrait{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.portrait_1{
    max-width: 100px;
    text-align: center;
}
.portrait_1 img{
    border: 3px solid #3882F6;
    border-radius: 8px;
}
.portrait_1 p{
    font-size: 13px;
    color: gray;
    margin: auto;
}
.section__3{
    background-color: #E5E7EB;
}
.section__3-content{
    max-width: 550px;
    margin: auto;
    padding: 50px;
}
.quote{
    font-size: 24px;
    font-style: italic;
    margin: 10px;
    padding: 10px;
    color: #1f2937;
}
.quote-author{
    text-align: right;
    margin-right: 30px;
    padding: 10px;
    font-weight: 800;
}
.section__4-content{
    padding: 50px;
    margin: 30px;
}
.card{
    background-color: #3882F6;
    max-width: 620px;
    margin: auto;
    padding: 20px 50px 20px 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.call_to_action{
    color: #fff;
}
.cta-text{
    color: #e5e7ebb8;
}
.sign-up{
    background-color: #3882F6;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
}